
.idea/

logs/

dt-demo-core/target/

*.iml

dt-demo-tcc/.DS_Store

dt-demo-tcc/dt-demo-tcc-app/dt-demo-tcc-account/target/

dt-demo-tcc/dt-demo-tcc-app/dt-demo-tcc-common/target/

dt-demo-tcc/dt-demo-tcc-app/dt-demo-tcc-inventory/target/

dt-demo-tcc/dt-demo-tcc-app/dt-demo-tcc-order/target/

.DS_Store
